{% load static %}
{% load nav_helpers %}
{% get_sidebar_nav as nav_items %}

<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                {% for item in nav_items %}
                    <li>
                        <a href="{% if item.submenu %}#{{ item.id }}{% else %}{% url item.url_name %}{% endif %}">
                            <i class="{{ item.icon }}"></i>
                            <span>{{ item.title }}</span>
                        </a>
                    </li>
                {% endfor %}
                <li><a href="{% url 'accounts:logout' %}"><i class="simple-icon-logout"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>
    </div>
    <div class="sub-menu">
        <div class="scroll">
            {% for item in nav_items %}
                {% if item.submenu %}
                    <ul class="list-unstyled" data-link="{{ item.id }}">
                        {% for sub_item in item.submenu %}
                            <li>
                                <a href="{% url sub_item.url_name %}">
                                    <i class="{{ sub_item.icon }}"></i>
                                    <span class="d-inline-block">{{ sub_item.title }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>