{% load static %}
<nav class="navbar fixed-top">
    <div class="d-flex align-items-center navbar-left">
        <a href="#" class="menu-button d-none d-md-block">
            <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                <rect x="0.48" y="0.5" width="7" height="1"/>
                <rect x="0.48" y="7.5" width="7" height="1"/>
                <rect x="0.48" y="15.5" width="7" height="1"/>
            </svg>
            <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                <rect x="1.56" y="0.5" width="16" height="1"/>
                <rect x="1.56" y="7.5" width="16" height="1"/>
                <rect x="1.56" y="15.5" width="16" height="1"/>
            </svg>
        </a>

        <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                <rect x="0.5" y="0.5" width="25" height="1"/>
                <rect x="0.5" y="7.5" width="25" height="1"/>
                <rect x="0.5" y="15.5" width="25" height="1"/>
            </svg>
        </a>


        <div class="search" data-search-path="{% url 'academics:global_search' %}?q=">
            <input placeholder="Search...">
            <span class="search-icon"><i class="simple-icon-magnifier"></i></span>
        </div>
    </div>

    <div class="navbar-logo-container">
        <a class="text-center" href="{% url 'accounts:home' %}">
            <span class="logo d-none d-xs-block"></span>
            <span class="logo-mobile d-block d-xs-none"></span>
        </a>
    </div>

    <div class="navbar-right">
        <div class="header-icons d-inline-block align-middle">
            <div class="d-none d-md-inline-block align-text-bottom mr-3">
                <div class="custom-switch custom-switch-primary-inverse custom-switch-small pl-1" data-toggle="tooltip"
                     data-placement="left" title="Dark Mode">
                    <input class="custom-switch-input" id="switchDark" type="checkbox" checked>
                    <label class="custom-switch-btn" for="switchDark"></label>
                </div>
            </div>

            <div class="position-relative d-inline-block">
                {% if is_admin %}
{% if git_update_count > 0 %}
                        <a href="{% url 'academics:update_status' %}" class="header-icon btn btn-empty"
                           data-toggle="tooltip"
                           title="Application Updates Available">
                            <i class="simple-icon-refresh"></i>
                            <span class="count bg-danger text-white">{{ git_update_count }}</span>
                        </a>
                    {% endif %}
                {% endif %}
                <button class="header-icon btn btn-empty" type="button" id="notificationButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="simple-icon-bell"></i>
                    {% if unread_notification_count > 0 %}
                        <span class="count">{{ unread_notification_count }}</span>
                    {% endif %}
                </button>
                <div class="dropdown-menu dropdown-menu-right mt-3 position-absolute" id="notificationDropdown">
                    <div class="scroll" style="max-height: 250px;">
                        {% for notification in recent_notifications %}
                            <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                <a href="{{ notification.url|default:'#' }}">
                                    <i class="iconsminds-shuffle-1 large-icon"></i>
                                </a>
                                <div class="pl-3">
                                    <a href="{{ notification.url|default:'#' }}">
                                        <p class="font-weight-medium mb-1">{{ notification.message }}</p>
                                        <p class="text-muted mb-0 text-small">{{ notification.timestamp|timesince }}
                                            ago</p>
                                    </a>
                                </div>
                            </div>
                        {% empty %}
                            <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                <div class="pl-3">
                                    <p class="font-weight-medium mb-1">No unread notifications.</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="user d-inline-block">
            <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="name">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                <span>
            {# --- UPDATE THIS IMG TAG --- #}
                    {% if request.user.profile.photo and request.user.profile.photo.url %}
                        <img alt="Profile Picture" src="{{ request.user.profile.photo.url }}"/>
                    {% else %}
                        <img alt="Profile Picture" src="{% static 'img/profiles/l-1.jpg' %}"/>
                    {% endif %}
                    {# ------------------------- #}
        </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right mt-3">
                <a class="dropdown-item" href="{% url 'accounts:account_view' %}">Account</a>
                <a class="dropdown-item" href="{% url 'accounts:logout' %}">Sign out</a>
            </div>
        </div>
    </div>
</nav>
