{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
    <title>Reset Password - SIHM Kozhikode Attendance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script>
        var STATIC_URL = "{% static '' %}";
    </script>
    <link rel="stylesheet" href="{% static 'font/iconsmind-s/css/iconsminds.css' %}"/>
    <link rel="stylesheet" href="{% static 'font/simple-line-icons/css/simple-line-icons.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.rtl.only.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-float-label.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>

<body class="background show-spinner no-footer">
<div class="fixed-background"></div>
<main>
    <div class="container">
        <div class="row h-100">
            <div class="col-12 col-md-10 mx-auto my-auto">
                <div class="card auth-card">
                    <div class="position-relative image-side ">
                        <p class=" text-white h2">PASSWORD RESET</p>
                        <p class="white mb-0">
                            Please use your e-mail to reset your password.
                        </p>
                    </div>
                    <div class="form-side">
                        <a href="{% url 'accounts:home' %}"><h2 class='text-center'
                                                                style="font-family: 'JetBrains Mono ExtraBold';">
                            SIHM-K</h2></a>
                        <h6 class="mb-4">Forgot Password</h6>

                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                Please correct the error{{ form.errors|pluralize }} below.
                            </div>
                        {% endif %}

                        <form method="post" action="{% url 'accounts:password_reset' %}">
                            {% csrf_token %}

                            <label class="form-group has-float-label mb-4">
                                {{ form.email }} <span>E-mail</span>
                                {% if form.email.errors %}
                                    <div class="invalid-feedback d-block">
                                        {% for error in form.email.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </label>

                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'accounts:login' %}" class="btn btn-link">Back to Login</a>
                                <button class="btn btn-primary btn-lg btn-shadow" type="submit">RESET PASSWORD</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/dore.script.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>