{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
    <title>Password Reset Complete - SIHM Kozhikode Attendance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'font/iconsmind-s/css/iconsminds.css' %}"/>
    <script>
        var STATIC_URL = "{% static '' %}";
    </script>

    <link rel="stylesheet" href="{% static 'font/simple-line-icons/css/simple-line-icons.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.rtl.only.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-float-label.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>

<body class="background show-spinner no-footer">
<div class="fixed-background"></div>
<main>
    <div class="container">
        <div class="row h-100">
            <div class="col-12 col-md-10 mx-auto my-auto">
                <div class="card auth-card">
                    <div class="position-relative image-side ">
                        <p class=" text-white h2">SUCCESS!</p>
                        <p class="white mb-0">
                            You can now log in with your new password.
                        </p>
                    </div>
                    <div class="form-side">
                        <a href="{% url 'accounts:home' %}">
                            <h2 class='text-center' style="font-family: 'JetBrains Mono ExtraBold';">SIHM-K</h2>
                        </a>
                        <h6 class="mb-4">Password Reset Complete</h6>
                        <p class="mb-0 text-muted text-small mb-4">
                            Your password has been set. You can now go ahead and log in.
                        </p>
                        <div class="d-flex justify-content-end align-items-center">
                            <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-lg btn-shadow">LOGIN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/dore.script.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>