{% extends "base.html" %}
{% load static %}
{% block page_title %}Teachers{% endblock %}
{% block vendor_styles %}
    {# These are the required CSS files for the styled datatable #}
    <link rel="stylesheet" href="{% static 'css/vendor/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/datatables.responsive.bootstrap4.min.css' %}"/>
{% endblock vendor_styles %}
{% block main_page_title %}Manage Teachers{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="mb-2 d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">All Faculty Members</h5>
                        <a href="{% url 'accounts:teacher_create' %}" class="btn btn-primary">Add New
                            Teacher</a>
                    </div>

                    <table class="data-table data-table-scrollable responsive nowrap">
                        <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Username</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Contact No.</th>
                            <th class="text-center">Subjects Taught</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <td class="text-center">{{ teacher.get_full_name|default:"N/A" }}</td>
                                <td class="text-center">{{ teacher.username }}</td>
                                <td class="text-center">{{ teacher.email|default:"N/A" }}</td>
                                <td class="text-center">{{ teacher.profile.contact_number|default:"N/A" }}</td>
                                <td class="text-center">
                                    {% for subject in teacher.profile.field_of_expertise.all %}
                                        {% if subject.subject_type == 'Theory' %}
                                            <span class="badge badge-pill badge-outline-primary">{{ subject.name }}</span>
                                        {% else %}
                                            <span class="badge badge-pill badge-outline-warning">{{ subject.name }}</span>
                                        {% endif %}
                                    {% empty %}
                                        <span class="text-muted">Not Assigned</span>
                                    {% endfor %}
                                </td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a href="{% url 'accounts:teacher_update' teacher.pk %}"
                                           class="btn btn-outline-primary btn-xs">Edit</a>
                                        <a href="{% url 'accounts:teacher_delete' teacher.pk %}"
                                           class="btn btn-outline-danger btn-xs">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No teachers found.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block vendor_scripts %}
    <script src="{% static 'js/vendor/datatables.min.js' %}"></script>
{% endblock vendor_scripts %}