{% extends "base.html" %}

{% block page_title %}Daily Schedule{% endblock page_title %}

{% block main_page_title %}Today's Schedule ({{ current_day }}){% endblock main_page_title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-body">
                <div>
                    <h5 class="card-title">Your Classes for Today</h5>
                    {% if schedule %}
                        <div class="list-group">
                            {% for entry in schedule %}
                                <a href="{% url 'academics:mark_attendance' entry.pk %}">
                                    <div class="card card-body {% if not forloop.last %}mb-3{% endif %}">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="mb-1">{{ entry.subject.subject.name }}
                                            {% if entry.is_substitution %}
                    <span class="badge badge-pill badge-info ml-2">Substitution</span>
                {% endif %}
                                            </h6>
                                            <small>{{ entry.time_slot }}</small>
                                        </div>
                                        <p class="mb-1">
                                            {{ entry.student_group.name }} ({{ entry.student_group.course.name }})
                                        </p>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            You have no classes scheduled for today.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}