{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Management - {{ company_name|default:"Attendance App" }}</title> <!-- Changed title -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'font/iconsmind-s/css/iconsminds.css' %}" />
    <link rel="stylesheet" href="{% static 'font/simple-line-icons/css/simple-line-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.rtl.only.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-datepicker3.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/jquery.contextMenu.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/component-custom-switch.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body id="app-container" class="menu-default show-spinner vertical boxed">
    <nav class="navbar fixed-top">
        <div class="d-flex align-items-center navbar-left">
            <a href="#" class="menu-button d-none d-md-block">
                <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                    <rect x="0.48" y="0.5" width="7" height="1" />
                    <rect x="0.48" y="7.5" width="7" height="1" />
                    <rect x="0.48" y="15.5" width="7" height="1" />
                </svg>
                <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                    <rect x="1.56" y="0.5" width="16" height="1" />
                    <rect x="1.56" y="7.5" width="16" height="1" />
                    <rect x="1.56" y="15.5" width="16" height="1" />
                </svg>
            </a>

            <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                    <rect x="0.5" y="0.5" width="25" height="1" />
                    <rect x="0.5" y="7.5" width="25" height="1" />
                    <rect x="0.5" y="15.5" width="25" height="1" />
                </svg>
            </a>

            <div class="search" data-search-path="{% url 'user_search_page' %}?q="> <!-- TODO: Define user_search_page URL -->
                <input placeholder="Search Users...">
                <span class="search-icon">
                    <i class="simple-icon-magnifier"></i>
                </span>
            </div>
        </div>

        <a class="navbar-logo" href="{% url 'admin_home' %}"> <!-- TODO: or appropriate home -->
            <span class="logo d-none d-xs-block"><img alt="Logo" src="{% static 'img/logo.svg' %}"></span> <!-- Example, replace with your logo -->
            <span class="logo-mobile d-block d-xs-none"><img alt="Mobile Logo" src="{% static 'img/logo-mobile.svg' %}"></span>
        </a>

        <div class="navbar-right">
            <div class="header-icons d-inline-block align-middle">
                <div class="d-none d-md-inline-block align-text-bottom mr-3">
                    <div class="custom-switch custom-switch-primary-inverse custom-switch-small pl-1"
                        data-toggle="tooltip" data-placement="left" title="Dark Mode">
                        <input class="custom-switch-input" id="switchDark" type="checkbox" checked>
                        <label class="custom-switch-btn" for="switchDark"></label>
                    </div>
                </div>

                <div class="position-relative d-none d-sm-inline-block">
                    <button class="header-icon btn btn-empty" type="button" id="iconMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="simple-icon-grid"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-3  position-absolute" id="iconMenuDropdown">
                        <a href="#" class="icon-menu-item">
                            <i class="iconsminds-equalizer d-block"></i>
                            <span>Settings</span>
                        </a>
                        <a href="{% url 'user_list' %}" class="icon-menu-item"> <!-- TODO: Define 'user_list' URL -->
                            <i class="iconsminds-male-female d-block"></i>
                            <span>Users</span>
                        </a>
                        <!-- Other icon menu items -->
                    </div>
                </div>

                <div class="position-relative d-inline-block">
                    <button class="header-icon btn btn-empty" type="button" id="notificationButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="simple-icon-bell"></i>
                        <span class="count">3</span> <!-- This should be dynamic later -->
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-3 position-absolute" id="notificationDropdown">
                        <!-- Notification items here - make dynamic later -->
                        <div class="scroll">
                            <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                <a href="#">
                                    <img src="{% static 'img/profiles/l-2.jpg' %}" alt="Notification Image"
                                        class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                                </a>
                                <div class="pl-3">
                                    <a href="#">
                                        <p class="font-weight-medium mb-1">Joisse Kaycee just sent a new comment!</p>
                                        <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                    </a>
                                </div>
                            </div>
                            <!-- More notifications -->
                        </div>
                    </div>
                </div>

                <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton">
                    <i class="simple-icon-size-fullscreen"></i>
                    <i class="simple-icon-size-actual"></i>
                </button>

            </div>

            <div class="user d-inline-block">
                {% if request.user.is_authenticated %}
                <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <span class="name">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                    <span>
                        <img alt="Profile Picture" src="{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}{% else %}{% static 'img/profiles/l-1.jpg' %}{% endif %}" />
                    </span>
                </button>
                <div class="dropdown-menu dropdown-menu-right mt-3">
                    <a class="dropdown-item" href="#">Account</a> <!-- TODO: Link to profile page -->
                    <a class="dropdown-item" href="#">Support</a>
                    <a class="dropdown-item" href="{% url 'logout_request' %}">Sign out</a>
                </div>
                {% else %}
                 <a href="{% url 'login_request' %}" class="btn btn-outline-primary btn-sm">Login</a> <!-- TODO: Define login_request URL -->
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Sidebar Start (This will be customized later) -->
    <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <i class="iconsminds-shop-4"></i>
                            <span>Dashboards</span>
                        </a>
                    </li>
                    <li class="active"> <!-- This 'active' class should be dynamic based on current page -->
                        <a href="#">
                            <i class="iconsminds-digital-drawing"></i> Pages
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="iconsminds-air-balloon-1"></i> Applications
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="iconsminds-pantone"></i> UI
                        </a>
                    </li>
                    <li>
                        <a href="#menu">
                            <i class="iconsminds-three-arrow-fork"></i> Menu
                        </a>
                    </li>
                    <li>
                        <a href="#"> <!-- Link to a relevant blank page or home -->
                            <i class="iconsminds-bucket"></i> Blank Page
                        </a>
                    </li>
                    <li>
                        <a href="https://dore-jquery-docs.coloredstrategies.com" target="_blank">
                            <i class="iconsminds-library"></i> Docs
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sub-menu">
            <div class="scroll">
                <ul class="list-unstyled" data-link="dashboard">
                    <li>
                        <a href="#"> <!-- Link to actual dashboard -->
                            <i class="simple-icon-rocket"></i> <span class="d-inline-block">Default</span>
                        </a>
                    </li>
                    <!-- Other sub-menu items -->
                </ul>
                <ul class="list-unstyled" data-link="layouts" id="layouts">
                    <li>
                        <a href="{% url 'user_list' %}" class="active"> <!-- TODO: Define 'user_list' URL and make active dynamic -->
                            <i class="simple-icon-people"></i> <span class="d-inline-block">User List</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'add_user' %}"> <!-- TODO: Define 'add_user' URL -->
                            <i class="simple-icon-user-follow"></i> <span class="d-inline-block">Add User</span>
                        </a>
                    </li>
                    <!-- Other "Pages" sub-menu items -->
                </ul>
                <!-- Other main menu sections -->
            </div>
        </div>
    </div>
    <!-- Sidebar End -->

    <main>
        <div class="container-fluid disable-text-selection">
            <!-- {% block page_header %} -->
            <div class="row">
                <div class="col-12">
                    <div class="mb-2">
                        <h1>User Management</h1>
                        <div class="top-right-button-container">
                            <a href="{% url 'add_user' %}" class="btn btn-primary btn-lg top-right-button mr-1">ADD NEW</a>
                            <!-- Optional: Bulk actions dropdown -->
                            <div class="btn-group">
                                <div class="btn btn-primary btn-lg pl-4 pr-0 check-button">
                                    <label class="custom-control custom-checkbox mb-0 d-inline-block">
                                        <input type="checkbox" class="custom-control-input" id="checkAll">
                                        <span class="custom-control-label">&nbsp;</span>
                                    </label>
                                </div>
                                <button type="button"
                                    class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Bulk Action 1</a>
                                    <a class="dropdown-item" href="#">Bulk Action 2</a>
                                </div>
                            </div>
                        </div>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'admin_home' %}">Home</a> <!-- TODO: or appropriate home -->
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Users
                                </li>
                            </ol>
                        </nav>
                    </div>

                    <div class="mb-2">
                        <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                            role="button" aria-expanded="true" aria-controls="displayOptions">
                            Display Options
                            <i class="simple-icon-arrow-down align-middle"></i>
                        </a>
                        <div class="collapse dont-collapse-sm" id="displayOptions">
                            <!-- Filter/Order options can be added here later -->
                            <span class="mr-3 mb-2 d-inline-block float-md-left">
                                <a href="#" class="mr-2 view-icon active"> <!-- Keep if you have different views like card/list -->
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                        <path class="view-icon-svg" d="M17.5,3H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                                        <path class="view-icon-svg" d="M17.5,10H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                                        <path class="view-icon-svg" d="M17.5,17H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                                    </svg>
                                </a>
                            </span>
                            <!-- Further display options can be added here -->
                            <div class="float-md-right">
                                <!-- Pagination display info - will be dynamic -->
                                <span class="text-muted text-small">Displaying {% if page_obj %}{{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}{% else %}{{ users|length }}{% endif %} items </span>
                                <!-- Items per page dropdown - can be made functional later -->
                            </div>
                        </div>
                    </div>
                    <div class="separator mb-5"></div>
                </div>
            </div>
            <!-- {% endblock page_header %} -->

            <!-- {% block content %} -->
            <div class="row">
                <div class="col-12 list" data-check-all="checkAll">
                    {% if users %}
                        {% for user_obj in users %}
                            <div class="card d-flex flex-row mb-3">
                                <div class="d-flex flex-grow-1 min-width-zero">
                                    <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                        <a class="list-item-heading mb-0 truncate w-30 w-xs-100" href="{% url 'user_detail' user_obj.pk %}"> <!-- TODO: Define user_detail URL -->
                                            {{ user_obj.first_name }} {{ user_obj.last_name }}
                                        </a>
                                        <p class="mb-0 text-muted text-small w-20 w-xs-100">{{ user_obj.username }}</p>
                                        <p class="mb-0 text-muted text-small w-15 w-xs-100">
                                            {% if user_obj.user_type == '1' %}HOD
                                            {% elif user_obj.user_type == '2' %}Staff
                                            {% elif user_obj.user_type == '3' %}Student
                                            {% else %}{{ user_obj.user_type }}
                                            {% endif %}
                                        </p>
                                        <p class="mb-0 text-muted text-small w-15 w-xs-100">{{ user_obj.date_joined|date:"d M, Y" }}</p>
                                        <div class="w-10 w-xs-100">
                                            <span class="badge badge-pill {% if user_obj.is_active %}badge-primary{% else %}badge-secondary{% endif %}">
                                                {% if user_obj.is_active %}Active{% else %}Inactive{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="align-self-center d-flex flex-column flex-sm-row pr-3 pl-3 pl-sm-0"> <!-- Actions container -->
                                        <a href="{% url 'edit_user' user_obj.pk %}" class="btn btn-outline-primary btn-xs mb-1 mb-sm-0 mr-sm-1">Edit</a>
                                        <!-- For Delete, you might want a form/POST request or a confirmation modal -->
                                        <form action="{% url 'delete_user' user_obj.pk %}" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete {{user_obj.username}}?');">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-danger btn-xs">Delete</button>
                                        </form>
                                    </div>
                                    <label class="custom-control custom-checkbox mb-1 align-self-center pr-4  pl-sm-3">
                                        <input type="checkbox" name="user_ids" value="{{ user_obj.pk }}" class="custom-control-input">
                                        <span class="custom-control-label">&nbsp;</span>
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12">
                            <p class="text-center">No users found.</p>
                        </div>
                    {% endif %}

                    {% if page_obj and page_obj.has_other_pages %}
                    <nav class="mt-4 mb-3">
                        <ul class="pagination justify-content-center mb-0">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link first" href="?page=1"><i class="simple-icon-control-start"></i></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link prev" href="?page={{ page_obj.previous_page_number }}"><i class="simple-icon-arrow-left"></i></a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link first" href="#"><i class="simple-icon-control-start"></i></a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link prev" href="#"><i class="simple-icon-arrow-left"></i></a>
                                </li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link next" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><i class="simple-icon-arrow-right"></i></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link last" href="?page={{ page_obj.paginator.num_pages }}"><i class="simple-icon-control-end"></i></a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link next" href="#" aria-label="Next"><i class="simple-icon-arrow-right"></i></a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link last" href="#"><i class="simple-icon-control-end"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
            <!-- {% endblock content %} -->
        </div>
    </main>

    <!-- Make sure to include necessary JS files from Dore theme using static tag -->
    <!-- These are examples, adjust based on your theme's requirements -->
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.contextMenu.min.js' %}"></script>
    <script src="{% static 'js/dore.script.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- Add any page-specific JS here -->

</body>
</html>